section.cohortadvancement.section 
  .cohortadvancement.agente
    span.heading3(data-i18n='playbook_agente_cohortadvancement_title') #{translation["playbook_agente_cohortadvancment_title"]}
    p
      span(data-i18n='playbook_agente_cohortadvancement_intro1') #{translation["playbook_agente_cohortadvancement_intro1"]} 
      span.highlight2(data-i18n='playbook_agente_cohortadvancement_intro2') #{translation["playbook_agente_cohortadvancement_intro2"]}
      span(data-i18n='playbook_agente_cohortadvancement_intro3') #{translation["playbook_agente_cohortadvancement_intro3"]}
      span.highlight2(data-i18n='playbook_agente_cohortadvancement_intro2') #{translation["playbook_agente_cohortadvancement_intro2"]}
      span(data-i18n='playbook_agente_cohortadvancement_intro4') #{translation["playbook_agente_cohortadvancement_intro4"]}
    span.highlight4(data-i18n="playbook_all_cohortadvancement_options3") #{translation["playbook_all_cohortadvancement_options3"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementagente1" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_agente_cohortadvancement_choice1") #{translation["playbook_agente_cohortadvancement_choice1"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementagente2" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_agente_cohortadvancement_choice2") #{translation["playbook_agente_cohortadvancement_choice2"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementagente3" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_agente_cohortadvancement_choice3") #{translation["playbook_agente_cohortadvancement_choice3"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementagente4" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_agente_cohortadvancement_choice4") #{translation["playbook_agente_cohortadvancement_choice4"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementagente5" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_agente_cohortadvancement_choice5") #{translation["playbook_agente_cohortadvancement_choice5"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementagente6" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_agente_cohortadvancement_choice6") #{translation["playbook_agente_cohortadvancement_choice6"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementagente7" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_agente_cohortadvancement_choice7") #{translation["playbook_agente_cohortadvancement_choice7"]}
    span.highlight4 #{translation["playbook_all_cohortadvancement_options2"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementagente8" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_agente_cohortadvancement_choice8") #{translation["playbook_agente_cohortadvancement_choice8"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementagente9" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_agente_cohortadvancement_choice9") #{translation["playbook_agente_cohortadvancement_choice9"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementagente10" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_agente_cohortadvancement_choice10") #{translation["playbook_agente_cohortadvancement_choice10"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementagente11" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_agente_cohortadvancement_choice11") #{translation["playbook_agente_cohortadvancement_choice11"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementagente12" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_agente_cohortadvancement_choice12") #{translation["playbook_agente_cohortadvancement_choice12"]}
    p 
      span.highlight4(data-i18n="playbook_all_cohortadvancement_example") #{translation["playbook_all_cohortadvancement_example"]} 
      span(data-i18n="playbook_agente_cohortadvancement_example") #{translation["playbook_agente_cohortadvancement_example"]}
      span.highlight2(data-i18n="playbook_agente_cohortadvancement_example_part2") #{translation["playbook_agente_cohortadvancement_example_part2"]}
      span(data-i18n="playbook_agente_cohortadvancement_example_part3") #{translation["playbook_agente_cohortadvancement_example_part3"]}
  .cohortadvancement.auriga
    span.heading3(data-i18n='playbook_auriga_cohortadvancement_title') #{translation["playbook_auriga_cohortadvancment_title"]}
    p
      span(data-i18n='playbook_auriga_cohortadvancement_intro1') #{translation["playbook_auriga_cohortadvancement_intro1"]} 
      span.highlight2(data-i18n='playbook_auriga_cohortadvancement_intro2') #{translation["playbook_auriga_cohortadvancement_intro2"]}
      span(data-i18n='playbook_auriga_cohortadvancement_intro3') #{translation["playbook_auriga_cohortadvancement_intro3"]}
    span.highlight4(data-i18n='playbook_all_cohortadvancement_options1') #{translation["playbook_all_cohortadvancement_options1"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementauriga1" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_auriga_cohortadvancement_choice1") #{translation["playbook_auriga_cohortadvancement_choice1"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementauriga2" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_auriga_cohortadvancement_choice2") #{translation["playbook_auriga_cohortadvancement_choice2"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementauriga3" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_auriga_cohortadvancement_choice3") #{translation["playbook_auriga_cohortadvancement_choice3"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementauriga4" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_auriga_cohortadvancement_choice4") #{translation["playbook_auriga_cohortadvancement_choice4"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementauriga5" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_auriga_cohortadvancement_choice5") #{translation["playbook_auriga_cohortadvancement_choice5"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementauriga6" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_auriga_cohortadvancement_choice6") #{translation["playbook_auriga_cohortadvancement_choice6"]}
    span.highlight4 #{translation["playbook_all_cohortadvancement_options2"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementauriga7" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_auriga_cohortadvancement_choice7") #{translation["playbook_auriga_cohortadvancement_choice7"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementauriga8" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_auriga_cohortadvancement_choice8") #{translation["playbook_auriga_cohortadvancement_choice8"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementauriga9" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_auriga_cohortadvancement_choice9") #{translation["playbook_auriga_cohortadvancement_choice9"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementauriga10" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_auriga_cohortadvancement_choice10") #{translation["playbook_auriga_cohortadvancement_choice10"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementauriga11" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_auriga_cohortadvancement_choice11") #{translation["playbook_auriga_cohortadvancement_choice11"]}
    p 
      span.highlight4(data-i18n="playbook_all_cohortadvancement_example") #{translation["playbook_all_cohortadvancement_example"]} 
      span(data-i18n="playbook_auriga_cohortadvancement_example") #{translation["playbook_auriga_cohortadvancement_example"]}
      span.highlight2(data-i18n="playbook_auriga_cohortadvancement_example_part2") #{translation["playbook_auriga_cohortadvancement_example_part2"]}
      span(data-i18n="playbook_auriga_cohortadvancement_example_part3") #{translation["playbook_auriga_cohortadvancement_example_part3"]}
  .cohortadvancement.decurion
    span.heading3(data-i18n='playbook_decurion_cohortadvancement_title') #{translation["playbook_decurion_cohortadvancment_title"]}
    p
      span(data-i18n='playbook_decurion_cohortadvancement_intro1') #{translation["playbook_decurion_cohortadvancement_intro1"]} 
      span.highlight2(data-i18n='playbook_decurion_cohortadvancement_intro2') #{translation["playbook_decurion_cohortadvancement_intro2"]}
      span(data-i18n='playbook_decurion_cohortadvancement_intro3') #{translation["playbook_decurion_cohortadvancement_intro3"]}
      span.highlight2(data-i18n='playbook_decurion_cohortadvancement_intro2') #{translation["playbook_decurion_cohortadvancement_intro2"]}
      span(data-i18n='playbook_decurion_cohortadvancement_intro4') #{translation["playbook_decurion_cohortadvancement_intro4"]}
    span.highlight4(data-i18n='playbook_all_cohortadvancement_options1') #{translation["playbook_all_cohortadvancement_options1"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementdecurion1" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_decurion_cohortadvancement_choice1") #{translation["playbook_decurion_cohortadvancement_choice1"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementdecurion2" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_decurion_cohortadvancement_choice2") #{translation["playbook_decurion_cohortadvancement_choice2"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementdecurion3" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_decurion_cohortadvancement_choice3") #{translation["playbook_decurion_cohortadvancement_choice3"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementdecurion4" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_decurion_cohortadvancement_choice4") #{translation["playbook_decurion_cohortadvancement_choice4"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementdecurion5" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_decurion_cohortadvancement_choice5") #{translation["playbook_decurion_cohortadvancement_choice5"]}
      span.highlight2(data-i18n="playbook_decurion_cohortadvancement_choice5_part2") #{translation["playbook_decurion_cohortadvancement_choice5_part2"]}
      span(data-i18n="playbook_decurion_cohortadvancement_choice5_part3") #{translation["playbook_decurion_cohortadvancement_choice5_part3"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementdecurion6" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_decurion_cohortadvancement_choice6") #{translation["playbook_decurion_cohortadvancement_choice6"]}
    span.highlight4(data-i18n="playbook_all_cohortadvancement_options2") #{translation["playbook_all_cohortadvancement_options2"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementdecurion7" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_decurion_cohortadvancement_choice7") #{translation["playbook_decurion_cohortadvancement_choice7"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementdecurion8" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_decurion_cohortadvancement_choice8") #{translation["playbook_decurion_cohortadvancement_choice8"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementdecurion9" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_decurion_cohortadvancement_choice9") #{translation["playbook_decurion_cohortadvancement_choice9"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementdecurion10" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_decurion_cohortadvancement_choice10") #{translation["playbook_decurion_cohortadvancement_choice10"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementdecurion11" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_decurion_cohortadvancement_choice11") #{translation["playbook_decurion_cohortadvancement_choice11"]}
    p 
      span.highlight4(data-i18n="playbook_all_cohortadvancement_example") #{translation["playbook_all_cohortadvancement_example"]} 
      span(data-i18n="playbook_decurion_cohortadvancement_example") #{translation["playbook_decurion_cohortadvancement_example"]}
      span.highlight2(data-i18n="playbook_decurion_cohortadvancement_example_part2") #{translation["playbook_decurion_cohortadvancement_example_part2"]}
      span(data-i18n="playbook_decurion_cohortadvancement_example_part3") #{translation["playbook_decurion_cohortadvancement_example_part3"]}
  .cohortadvancement.evocatus
    span.heading3(data-i18n='playbook_evocatus_cohortadvancement_title') #{translation["playbook_evocatus_cohortadvancment_title"]}
    p
      span(data-i18n='playbook_evocatus_cohortadvancement_intro1') #{translation["playbook_evocatus_cohortadvancement_intro1"]} 
      span.highlight2(data-i18n='playbook_evocatus_cohortadvancement_intro2') #{translation["playbook_evocatus_cohortadvancement_intro2"]}
      span(data-i18n='playbook_evocatus_cohortadvancement_intro3') #{translation["playbook_evocatus_cohortadvancement_intro3"]}
    span.highlight4(data-i18n="playbook_all_cohortadvancement_options1") #{translation["playbook_all_cohortadvancement_options1"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementevocatus1" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_evocatus_cohortadvancement_choice1") #{translation["playbook_evocatus_cohortadvancement_choice1"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementevocatus2" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_evocatus_cohortadvancement_choice2") #{translation["playbook_evocatus_cohortadvancement_choice2"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementevocatus3" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_evocatus_cohortadvancement_choice3") #{translation["playbook_evocatus_cohortadvancement_choice3"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementevocatus4" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_evocatus_cohortadvancement_choice4") #{translation["playbook_evocatus_cohortadvancement_choice4"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementevocatus5" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_evocatus_cohortadvancement_choice5") #{translation["playbook_evocatus_cohortadvancement_choice5"]}
      span.highlight2(data-i18n="playbook_evocatus_cohortadvancement_choice5_part2") #{translation["playbook_evocatus_cohortadvancement_choice5_part2"]}
      span(data-i18n="playbook_evocatus_cohortadvancement_choice5_part3") #{translation["playbook_evocatus_cohortadvancement_choice5_part3"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementevocatus6" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_evocatus_cohortadvancement_choice6") #{translation["playbook_evocatus_cohortadvancement_choice6"]}
    span.highlight4(data-i18n="playbook_all_cohortadvancement_options2") #{translation["playbook_all_cohortadvancement_options2"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementevocatus7" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_evocatus_cohortadvancement_choice7") #{translation["playbook_evocatus_cohortadvancement_choice7"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementevocatus8" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_evocatus_cohortadvancement_choice8") #{translation["playbook_evocatus_cohortadvancement_choice8"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementevocatus9" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_evocatus_cohortadvancement_choice9") #{translation["playbook_evocatus_cohortadvancement_choice9"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementevocatus10" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_evocatus_cohortadvancement_choice10") #{translation["playbook_evocatus_cohortadvancement_choice10"]}
    .cohortadvancementline
      input(name="attr_playbookcohortadvancementevocatus11" type="checkbox").stackcheckbox
      span.stackcheckbox
      span(data-i18n="playbook_evocatus_cohortadvancement_choice11") #{translation["playbook_evocatus_cohortadvancement_choice11"]}
    p 
      span.highlight4(data-i18n="playbook_all_cohortadvancement_example") #{translation["playbook_all_cohortadvancement_example"]} 
      span(data-i18n="playbook_evocatus_cohortadvancement_example") #{translation["playbook_evocatus_cohortadvancement_example"]}
      span.highlight2(data-i18n="playbook_evocatus_cohortadvancement_example_part2") #{translation["playbook_evocatus_cohortadvancement_example_part2"]}
      span(data-i18n="playbook_evocatus_cohortadvancement_example_part3") #{translation["playbook_evocatus_cohortadvancement_example_part3"]}
section.experience.section 
  span.heading3(data-i18n='advancement_improvement') #{translation["advancement_improvement"]}
  p(data-i18n='advancement_improvement_part1') #{translation["advancement_improvement_part1"]}
  .experience.agente
    .experienceline
      input(name="attr_playbookexperienceagente1" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperienceagente2" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainenduringtrait') #{translation["advancement_experience_gainenduringtrait"]}
    .experienceline
      input(name="attr_playbookexperienceagente3" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperienceagente4" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainenduringbond') #{translation["advancement_experience_gainenduringbond"]}
    .experienceline
      input(name="attr_playbookexperienceagente5" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperienceagente6" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainpersonalbond') #{translation["advancement_experience_gainpersonalbond"]} 
    .experienceline
      input(name="attr_playbookexperienceagente7" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperienceagente8" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainnewreputation') #{translation["advancement_experience_gainnewreputation"]} 
    .experienceline
      input(name="attr_playbookexperienceagente9" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperienceagente10" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='playbook_agente_experience_part1') #{translation["playbook_agente_experience_part1"]}
    .experienceline
      input(name="attr_playbookexperienceagente11" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperienceagente12" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainmoveunusedplaybook') #{translation["advancement_experience_gainmoveunusedplaybook"]} 
    .experienceline
      input(name="attr_playbookexperienceagente13" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel
        span(data-i18n='playbook_agente_experience_part2') #{translation["playbook_agente_experience_part2"]} 
        span.highlight2(data-i18n='playbook_agente_experience_part3') #{translation["playbook_agente_experience_part3"]} 
        span(data-i18n='playbook_agente_experience_part4') #{translation["playbook_agente_experience_part4"]} 
        span.highlight2(data-i18n='playbook_agente_experience_part5') #{translation["playbook_agente_experience_part5"]} 
        span(data-i18n='playbook_agente_experience_part6') #{translation["playbook_agente_experience_part6"]} 
    .experienceline
      input(name="attr_playbookexperienceagente14" type="checkbox").stackcheckbox
      span.stackcheckbox  
      span.experiencelabel(data-i18n='playbook_agente_experience_part7') #{translation["playbook_agente_experience_part7"]} 
    .experienceline
      input(name="attr_playbookexperienceagente15" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainseasonalmove') #{translation["advancement_experience_gainseasonalmove"]}
    span.heading7(data-i18n='advancement_elite') #{translation["advancement_elite"]}
    .experienceline
      input(name="attr_playbookexperienceagente16" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_removetraumacondition') #{translation["advancement_experience_removetraumacondition"]}
    .experienceline
      input(name="attr_playbookexperienceagente17" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gaintraitorbond') #{translation["advancement_experience_gaintraitorbond"]}
    .experienceline
      input(name="attr_playbookexperienceagente18" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_changeplaybook') #{translation["advancement_experience_changeplaybook"]} 
    .experienceline
      input(name="attr_playbookexperienceagente19" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_retirecharacter') #{translation["advancement_experience_retirecharacter"]}
    .experienceline
      input(name="attr_playbookexperienceagente20" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='playbook_agente_experience_part8') #{translation["playbook_agente_experience_part8"]}

  .experience.auriga 
    .experienceline
      input(name="attr_playbookexperienceauriga1" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperienceauriga2" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainenduringtrait') #{translation["advancement_experience_gainenduringtrait"]}
    .experienceline
      input(name="attr_playbookexperienceauriga3" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperienceauriga4" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainenduringbond') #{translation["advancement_experience_gainenduringbond"]}
    .experienceline
      input(name="attr_playbookexperienceauriga5" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperienceauriga6" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainpersonalbond') #{translation["advancement_experience_gainpersonalbond"]} 
    .experienceline
      input(name="attr_playbookexperienceauriga7" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperienceauriga8" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainnewreputation') #{translation["advancement_experience_gainnewreputation"]}
    .experienceline
      input(name="attr_playbookexperienceauriga9" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperienceauriga10" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='playbook_auriga_experience_part1') #{translation["playbook_auriga_experience_part1"]}
    .experienceline
      input(name="attr_playbookexperienceauriga11" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperienceauriga12" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainmoveunusedplaybook') #{translation["advancement_experience_gainmoveunusedplaybook"]} 
    .experienceline
      input(name="attr_playbookexperienceauriga13" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='playbook_auriga_experience_part2') #{translation["playbook_auriga_experience_part2"]} 
    .experienceline
      input(name="attr_playbookexperienceauriga14" type="checkbox").stackcheckbox
      span.stackcheckbox  
      span.experiencelabel(data-i18n='playbook_auriga_experience_part3') #{translation["playbook_auriga_experience_part3"]} 
    .experienceline
      input(name="attr_playbookexperienceauriga15" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainseasonalmove') #{translation["advancement_experience_gainseasonalmove"]}
    span.heading7(data-i18n='advancement_elite') #{translation["advancement_elite"]}
    .experienceline
      input(name="attr_playbookexperienceauriga16" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_removetraumacondition') #{translation["advancement_experience_removetraumacondition"]}
    .experienceline
      input(name="attr_playbookexperienceauriga17" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gaintraitorbond') #{translation["advancement_experience_gaintraitorbond"]}
    .experienceline
      input(name="attr_playbookexperienceauriga18" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_changeplaybook') #{translation["advancement_experience_changeplaybook"]} 
    .experienceline
      input(name="attr_playbookexperienceauriga19" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_retirecharacter') #{translation["advancement_experience_retirecharacter"]}
    .experienceline
      input(name="attr_playbookexperienceauriga20" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='playbook_auriga_experience_part4') #{translation["playbook_auriga_experience_part4"]}
    
  .experience.decurion 
    .experienceline
      input(name="attr_playbookexperiencedecurion1" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperiencedecurion2" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainenduringtrait') #{translation["advancement_experience_gainenduringtrait"]}
    .experienceline
      input(name="attr_playbookexperiencedecurion3" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperiencedecurion4" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainenduringbond') #{translation["advancement_experience_gainenduringbond"]}
    .experienceline
      input(name="attr_playbookexperiencedecurion5" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperiencedecurion6" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainpersonalbond') #{translation["advancement_experience_gainpersonalbond"]} 
    .experienceline
      input(name="attr_playbookexperiencedecurion7" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperiencedecurion8" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainnewreputation') #{translation["advancement_experience_gainnewreputation"]}
    .experienceline
      input(name="attr_playbookexperiencedecurion9" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperiencedecurion10" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='playbook_decurion_experience_part1') #{translation["playbook_decurion_experience_part1"]}
    .experienceline
      input(name="attr_playbookexperiencedecurion11" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperiencedecurion12" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainmoveunusedplaybook') #{translation["advancement_experience_gainmoveunusedplaybook"]}
    .experienceline
      input(name="attr_playbookexperiencedecurion13" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='playbook_decurion_experience_part2') #{translation["playbook_decurion_experience_part2"]} 
    .experienceline
      input(name="attr_playbookexperiencedecurion14" type="checkbox").stackcheckbox
      span.stackcheckbox  
      span.experiencelabel(data-i18n='playbook_decurion_experience_part3') #{translation["playbook_decurion_experience_part3"]} 
    .experienceline
      input(name="attr_playbookexperiencedecurion15" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainseasonalmove') #{translation["advancement_experience_gainseasonalmove"]}
    span.heading7(data-i18n='advancement_elite') #{translation["advancement_elite"]}
    .experienceline
      input(name="attr_playbookexperiencedecurion16" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_removetraumacondition') #{translation["advancement_experience_removetraumacondition"]}
    .experienceline
      input(name="attr_playbookexperiencedecurion17" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gaintraitorbond') #{translation["advancement_experience_gaintraitorbond"]}
    .experienceline
      input(name="attr_playbookexperiencedecurion18" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_changeplaybook') #{translation["advancement_experience_changeplaybook"]} 
    .experienceline
      input(name="attr_playbookexperiencedecurion19" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_retirecharacter') #{translation["advancement_experience_retirecharacter"]}
    .experienceline
      input(name="attr_playbookexperiencedecurion20" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel
      span(data-i18n='playbook_decurion_experience_part4') #{translation["playbook_decurion_experience_part4"]}
      span.highlight2(data-i18n="playbook_decurion_experience_part5") #{translation["playbook_decurion_experience_part5"]}
      span(data-i18n='playbook_decurion_experience_part6') #{translation["playbook_decurion_experience_part6"]}
    
  .experience.evocatus 
    .experienceline
      input(name="attr_playbookexperienceevocatus1" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperienceevocatus2" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainenduringtrait') #{translation["advancement_experience_gainenduringtrait"]}
    .experienceline
      input(name="attr_playbookexperienceevocatus3" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperienceevocatus4" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainenduringbond') #{translation["advancement_experience_gainenduringbond"]}
    .experienceline
      input(name="attr_playbookexperienceevocatus5" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperienceevocatus6" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainpersonalbond') #{translation["advancement_experience_gainpersonalbond"]}
    .experienceline
      input(name="attr_playbookexperienceevocatus7" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperienceevocatus8" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainnewreputation') #{translation["advancement_experience_gainnewreputation"]}
    .experienceline
      input(name="attr_playbookexperienceevocatus9" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperienceevocatus10" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='playbook_evocatus_experience_part1') #{translation["playbook_evocatus_experience_part1"]}
    .experienceline
      input(name="attr_playbookexperienceevocatus11" type="checkbox").stackcheckbox
      span.stackcheckbox 
      input(name="attr_playbookexperienceevocatus12" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainmoveunusedplaybook') #{translation["advancement_experience_gainmoveunusedplaybook"]}
    .experienceline
      input(name="attr_playbookexperienceevocatus13" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel
        span(data-i18n='playbook_evocatus_experience_part2') #{translation["playbook_evocatus_experience_part2"]}  
        span.highlight2(data-i18n='playbook_evocatus_experience_part3') #{translation["playbook_evocatus_experience_part3"]} 
        span(data-i18n='playbook_evocatus_experience_part4') #{translation["playbook_evocatus_experience_part4"]} 
        span.highlight2(data-i18n='playbook_evocatus_experience_part5') #{translation["playbook_evocatus_experience_part5"]} 
        span(data-i18n='playbook_evocatus_experience_part6') #{translation["playbook_evocatus_experience_part6"]} 
    .experienceline
      input(name="attr_playbookexperienceevocatus14" type="checkbox").stackcheckbox
      span.stackcheckbox  
      span.experiencelabel
        span(data-i18n='playbook_evocatus_experience_part7') #{translation["playbook_evocatus_experience_part7"]} 
        span.highlight2(data-i18n='playbook_evocatus_experience_part8') #{translation["playbook_evocatus_experience_part8"]}
        span(data-i18n='playbook_evocatus_experience_part9') #{translation["playbook_evocatus_experience_part9"]}
        span.highlight2(data-i18n='playbook_evocatus_experience_part10') #{translation["playbook_evocatus_experience_part10"]}
        span(data-i18n='playbook_evocatus_experience_part11') #{translation["playbook_evocatus_experience_part11"]}
    .experienceline
      input(name="attr_playbookexperienceevocatus15" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gainseasonalmove') #{translation["advancement_experience_gainseasonalmove"]}
    span.heading7(data-i18n='advancement_elite') #{translation["advancement_elite"]}
    .experienceline
      input(name="attr_playbookexperienceevocatus16" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_removetraumacondition') #{translation["advancement_experience_removetraumacondition"]}
    .experienceline
      input(name="attr_playbookexperienceevocatus17" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_gaintraitorbond') #{translation["advancement_experience_gaintraitorbond"]}
    .experienceline
      input(name="attr_playbookexperienceevocatus18" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_changeplaybook') #{translation["advancement_experience_changeplaybook"]} 
    .experienceline
      input(name="attr_playbookexperienceevocatus19" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='advancement_experience_retirecharacter') #{translation["advancement_experience_retirecharacter"]}
    .experienceline
      input(name="attr_playbookexperienceevocatus20" type="checkbox").stackcheckbox
      span.stackcheckbox 
      span.experiencelabel(data-i18n='playbook_evocatus_experience_part12') #{translation["playbook_evocatus_experience_part12"]}