section.image.section 
  .image.agente 
    img.playbook(alt="Agente" src=imagesrc + "agente_playbook.png")
  .image.auriga 
    img.playbook(alt="Charioteer" src=imagesrc + "auriga_playbook.png")
  .image.decurion 
    img.playbook(alt="Decurion" src=imagesrc + "decurion_playbook.png")
  .image.evocatus
    img.playbook(alt="Evocatus" src=imagesrc + "evocatus_playbook.png")
section.intro.section 
  .intro.agente 
    p
      span.highlight3(data-i18n="playbook_agente_intro_part1")=translation["playbook_agente_intro_part1"] 
      | 
      span(data-i18n="playbook_agente_intro_part2") #{translation["playbook_agente_intro_part2"]}
    p 
      span.highlight2(data-i18n="playbook_agente_intro_part3")=translation["playbook_agente_intro_part3"]  
  .intro.auriga 
    p 
      span.highlight3(data-i18n="playbook_auriga_intro_part1")=translation["playbook_auriga_intro_part1"]
      | 
      span(data-i18n="playbook_auriga_intro_part2") #{translation["playbook_auriga_intro_part2"]}
    p 
      span.highlight2(data-i18n="playbook_auriga_intro_part3")=translation["playbook_auriga_intro_part3"]
  .intro.decurion 
    p 
      span.highlight3(data-i18n="playbook_decurion_intro_part1")=translation["playbook_decurion_intro_part1"]
      | 
      span(data-i18n="playbook_decurion_intro_part2") #{translation["playbook_decurion_intro_part2"]}
    p 
      span.highlight2(data-i18n="playbook_decurion_intro_part3")=translation["playbook_decurion_intro_part3"]
  .intro.evocatus
    p 
      span.highlight3(data-i18n="playbook_evocatus_intro_part1")=translation["playbook_evocatus_intro_part1"]
      | 
      span(data-i18n="playbook_evocatus_intro_part2") #{translation["playbook_evocatus_intro_part2"]}
    p 
      span.highlight2(data-i18n="playbook_evocatus_intro_part3")=translation["playbook_evocatus_intro_part3"]
section.creatingnames.section 
  .creatingnames.agente 
    span.heading3(data-i18n="playbook_agente_creatingnames_title")=translation["playbook_agente_creatingnames_title"]
    span.heading7(data-i18n="playbook_all_creatingnames_names")=translation["playbook_all_creatingnames_names"]
    p 
      span.highlight2(data-i18n="playbook_agente_creatingnames_male")=translation["playbook_agente_creatingnames_male"]
    p 
      span.highlight2(data-i18n="playbook_agente_creatingnames_female")=translation["playbook_agente_creatingnames_female"]
  .creatingnames.auriga 
    span.heading3(data-i18n="playbook_auriga_creatingnames_title")=translation["playbook_auriga_creatingnames_title"]
    span.heading7(data-i18n="playbook_all_creatingnames_names")=translation["playbook_all_creatingnames_names"]
    p 
      span.highlight2(data-i18n="playbook_auriga_creatingnames_male")=translation["playbook_auriga_creatingnames_male"]
    p 
      span.highlight2(data-i18n="playbook_auriga_creatingnames_female")=translation["playbook_auriga_creatingnames_female"]
  .creatingnames.decurion 
    span.heading3(data-i18n="playbook_decurion_creatingnames_title")=translation["playbook_decurion_creatingnames_title"]
    span.heading7(data-i18n="playbook_all_creatingnames_names")=translation["playbook_all_creatingnames_names"]
    p 
      span.highlight2(data-i18n="playbook_decurion_creatingnames_male")=translation["playbook_decurion_creatingnames_male"]
    p 
      span.highlight2(data-i18n="playbook_decurion_creatingnames_female")=translation["playbook_decurion_creatingnames_female"]
  .creatingnames.evocatus
    span.heading3(data-i18n="playbook_evocatus_creatingnames_title")=translation["playbook_evocatus_creatingnames_title"]
    span.heading7(data-i18n="playbook_all_creatingnames_names")=translation["playbook_all_creatingnames_names"]
    p 
      span.highlight2(data-i18n="playbook_evocatus_creatingnames_male")=translation["playbook_evocatus_creatingnames_male"]
    p 
      span.highlight2(data-i18n="playbook_evocatus_creatingnames_female")=translation["playbook_evocatus_creatingnames_female"]
section.creatingdemeanour.section 
  span.heading7(data-i18n="playbook_all_demeanour")=translation["playbook_all_demeanour"]
  | 
  span(data-i18n="playbook_all_demeanour_description") #{translation["playbook_all_demeanour_description"]}
  .creatingdemeanour.agente 
    | 
    span(data-i18n="playbook_agente_demeanour") #{translation["playbook_agente_demeanour"]}
  .creatingdemeanour.auriga 
    | 
    span(data-i18n="playbook_auriga_demeanour") #{translation["playbook_auriga_demeanour"]}
  .creatingdemeanour.decurion 
    | 
    span(data-i18n="playbook_decurion_demeanour") #{translation["playbook_decurion_demeanour"]}
  .creatingdemeanour.evocatus
    | 
    span(data-i18n="playbook_evocatus_demeanour") #{translation["playbook_evocatus_demeanour"]}
section.creatingtraitsandbonds.section 
  span.heading7(data-i18n="playbook_all_startingtraitsandbonds")=translation["playbook_all_startingtraitsandbonds"]
  .creatingtraitsandbonds.agente 
    span.highlight4(data-i18n="playbook_all_enduringtraits")=translation["playbook_all_enduringtraits"] 
    | 
    span(data-i18n="playbook_agente_enduringtraits") #{translation["playbook_agente_enduringtraits"]}
    br
    span.highlight4(data-i18n="playbook_all_enduringbonds")=translation["playbook_all_enduringbonds"] 
    | 
    span(data-i18n="playbook_agente_enduringbonds") #{translation["playbook_agente_enduringbonds"]}
  .creatingtraitsandbonds.auriga 
    span.highlight4(data-i18n="playbook_all_enduringtraits")=translation["playbook_all_enduringtraits"]
    | 
    span(data-i18n="playbook_auriga_enduringtraits") #{translation["playbook_auriga_enduringtraits"]}
    br
    span.highlight4(data-i18n="playbook_all_enduringbonds")=translation["playbook_all_enduringbonds"] 
    | 
    span(data-i18n="playbook_auriga_enduringbonds") #{translation["playbook_auriga_enduringbonds"]}
  .creatingtraitsandbonds.decurion 
    span.highlight4(data-i18n="playbook_all_enduringtraits")=translation["playbook_all_enduringtraits"]
    | 
    span(data-i18n="playbook_decurion_enduringtraits") #{translation["playbook_decurion_enduringtraits"]}
    br
    span.highlight4(data-i18n="playbook_all_enduringbonds")=translation["playbook_all_enduringbonds"] 
    | 
    span(data-i18n="playbook_decurion_enduringbonds") #{translation["playbook_decurion_enduringbonds"]}
  .creatingtraitsandbonds.evocatus
    span.highlight4(data-i18n="playbook_all_enduringtraits")=translation["playbook_all_enduringtraits"]
    | 
    span(data-i18n="playbook_evocatus_enduringtraits") #{translation["playbook_evocatus_enduringtraits"]}
    br
    span.highlight4(data-i18n="playbook_all_enduringbonds")=translation["playbook_all_enduringbonds"] 
    | 
    span(data-i18n="playbook_evocatus_enduringbonds") #{translation["playbook_evocatus_enduringbonds"]}
section.creatingmovesandcohort.section 
  span.heading7(data-i18n="playbook_all_movesandtrauma")=translation["playbook_all_movesandtrauma"]
  .creatingmovesandcohort.agente 
    | 
    span(data-i18n="playbook_agente_movesandtrauma") #{translation["playbook_agente_movesandtrauma"]}
    span.highlight2(data-i18n="playbook_agente_movesandtrauma_part2") #{translation["playbook_agente_movesandtrauma_part2"]}
    span(data-i18n="playbook_agente_movesandtrauma_part3") #{translation["playbook_agente_movesandtrauma_part3"]}
  .creatingmovesandcohort.auriga 
    | 
    span(data-i18n="playbook_auriga_movesandtrauma") #{translation["playbook_auriga_movesandtrauma"]}
  .creatingmovesandcohort.decurion 
    | 
    span(data-i18n="playbook_decurion_movesandtrauma") #{translation["playbook_decurion_movesandtrauma"]}
    span.highlight2(data-i18n="playbook_decurion_movesandtrauma_part2") #{translation["playbook_decurion_movesandtrauma_part2"]}
    span(data-i18n="playbook_decurion_movesandtrauma_part3") #{translation["playbook_decurion_movesandtrauma_part3"]}
    span.highlight2(data-i18n="playbook_decurion_movesandtrauma_part4") #{translation["playbook_decurion_movesandtrauma_part4"]}
    span(data-i18n="playbook_decurion_movesandtrauma_part5") #{translation["playbook_decurion_movesandtrauma_part5"]}
  .creatingmovesandcohort.evocatus
    | 
    span(data-i18n="playbook_evocatus_movesandtrauma") #{translation["playbook_evocatus_movesandtrauma"]}
section.creatingambitions.section 
  span.heading7(data-i18n="character_ambition")=translation["character_ambition"]
  | 
  span(data-i18n="playbook_all_creatingambitions") #{translation["playbook_all_creatingambitions"]}
  //- 
  //- .creatingambitions.agente 
  //- .creatingambitions.auriga 
  //- .creatingambitions.decurion 
  //- .creatingambitions.evocatus
section.creatingreputation.section 
  span.heading7(data-i18n="character_reputation")=translation["character_reputation"]
  | 
  span(data-i18n="playbook_all_creatingreputations") #{translation["playbook_all_creatingreputations"]}
  //- .creatingreputation.agente 
  //- .creatingreputation.auriga 
  //- .creatingreputation.decurion 
  //- .creatingreputation.evocatus
section.creatingpersonalties.section 
  span.heading7(data-i18n="character_personal_ties")=translation["character_personal_ties"]
  | 
  span(data-i18n="playbook_all_creatingpersonalties") #{translation["playbook_all_creatingpersonalties"]}
  .creatingpersonalties.agente 
    ul 
      li(data-i18n="playbook_agente_creatingpersonalties_part1") #{translation["playbook_agente_creatingpersonalties_part1"]}
      li(data-i18n="playbook_agente_creatingpersonalties_part2") #{translation["playbook_agente_creatingpersonalties_part2"]}
      li(data-i18n="playbook_agente_creatingpersonalties_part3") #{translation["playbook_agente_creatingpersonalties_part3"]}
  .creatingpersonalties.auriga 
    ul 
      li(data-i18n="playbook_auriga_creatingpersonalties_part1") #{translation["playbook_auriga_creatingpersonalties_part1"]}
      li(data-i18n="playbook_auriga_creatingpersonalties_part2") #{translation["playbook_auriga_creatingpersonalties_part2"]}
      li(data-i18n="playbook_auriga_creatingpersonalties_part3") #{translation["playbook_auriga_creatingpersonalties_part3"]}
  .creatingpersonalties.decurion 
    ul 
      li(data-i18n="playbook_decurion_creatingpersonalties_part1") #{translation["playbook_decurion_creatingpersonalties_part1"]}
      li(data-i18n="playbook_decurion_creatingpersonalties_part2") #{translation["playbook_decurion_creatingpersonalties_part2"]}
      li(data-i18n="playbook_decurion_creatingpersonalties_part3") #{translation["playbook_decurion_creatingpersonalties_part3"]}
  .creatingpersonalties.evocatus
    ul 
      li(data-i18n="playbook_evocatus_creatingpersonalties_part1") #{translation["playbook_evocatus_creatingpersonalties_part1"]}
      li(data-i18n="playbook_evocatus_creatingpersonalties_part2") #{translation["playbook_evocatus_creatingpersonalties_part2"]}
      li(data-i18n="playbook_evocatus_creatingpersonalties_part3") #{translation["playbook_evocatus_creatingpersonalties_part3"]}
  | 
  span(data-i18n="playbook_evocatus_creatingpersonalties_part4") #{translation["playbook_evocatus_creatingpersonalties_part4"]}
section.creatingfamilia.section
  span.heading7(data-i18n="playbook_all_familia")=translation["playbook_all_familia"]
  | 
  span(data-i18n="playbook_all_familia_description") #{translation["playbook_all_familia_description"]}
  //- .creatingfamilia.agente 
  //- .creatingfamilia.auriga 
  //- .creatingfamilia.decurion 
  //- .creatingfamilia.evocatus